In [1]:
import pandas as pd
import numpy as np

#SURPRISE LIBRARY FOR SVD 

from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [2]:
ratings=pd.read_csv('ratings_small.csv')
ratings.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [4]:
reader = Reader()
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [5]:
#using singular value decomposition(SVD) for matrix factorization

algo = SVD()
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8839  0.9011  0.8987  0.9008  0.8925  0.8954  0.0065
MAE (testset)     0.6805  0.6932  0.6917  0.6945  0.6873  0.6894  0.0051
Fit time          7.41    7.37    7.40    7.93    7.31    7.48    0.23
Test time         0.31    0.30    0.42    0.25    0.25    0.31    0.06

{'test_rmse': array([0.88393107, 0.90112213, 0.89872495, 0.90084839, 0.89250545]),
 'test_mae': array([0.68051631, 0.69318263, 0.69173935, 0.69451616, 0.68725692]),
 'fit_time': (7.4064414501190186,
  7.3654680252075195,
  7.403443336486816,
  7.929455995559692,
  7.311502456665039),
 'test_time': (0.30780577659606934,
  0.30081915855407715,
  0.41574954986572266,
  0.2488558292388916,
  0.25284600257873535)}

In [8]:
trainset = data.build_full_trainset()
algo.fit(trainset)

In [9]:
#Matrix factorization has been completed
ratings[ratings['userId'] == 2]

    userId  movieId  rating  timestamp
20       2       10     4.0  835355493
21       2       17     5.0  835355681
22       2       39     5.0  835355604
23       2       47     4.0  835355552
24       2       50     4.0  835355586
..     ...      ...     ...        ...
91       2      592     5.0  835355395
92       2      593     3.0  835355511
93       2      616     3.0  835355932
94       2      661     4.0  835356141
95       2      720     4.0  835355978

[76 rows x 4 columns]

In [10]:
algo.predict(2,20)

Prediction(uid=2, iid=20, r_ui=None, est=2.885783134041584, details={'was_impossible': False})

In [11]:
#So, the user with userid 2 can rate a movie with movieid 20 with estimation of 2.8 rating. And this rating is
#predicted purely based on how others have perceived the movie.